// Site colors
@gf-background: 		#d5d5cd;
//@gf-background: 		@color-secondary-1-1;
@border-color:			#bbbbbb;
@text-color:			#4c4c4c;
@text-color-light:		#5f5f5f;
@text-color-on-red:		#c9c9c0;
@heading-color:			@gf-red;
@search-color:			@gf-blue-lighter;

@gf-red-lighter: 		#F27488;
@gf-red-light: 			#D6475D;
@gf-red: 				#C4203A;	/* Main Red */
@gf-red-dark: 			#9D0F25;
@gf-red-darker: 		#780013;

@gf-brown-lighter: 		#FFC27B;
@gf-brown-light: 		#E39C4B;
@gf-brown: 				#CF7F22;	/* Main Brown */
@gf-brown-dark:			#A66010;
@gf-brown-darker:	 	#7F4400;

@gf-blue-lighter: 		#548BA5;
@gf-blue-light: 		#34728F;
@gf-blue: 				#1B6183;	/* Main Blue */
@gf-blue-dark: 			#0F4C69;
@gf-blue-darker: 		#043750;

@gf-green-lighter: 		#89DB6A;
@gf-green-light: 		#63C240;
@gf-green: 				#45B11D;	/* Main Green */
@gf-green-dark: 		#308E0D;
@gf-green-darker: 		#1D6C00;

@gf-comment-color:		lighten(@text-color-light, 10%);
@gf-comment-border-color:		lighten(@gf-background, 5%);
@gf-comment-background-color:	lighten(@gf-background, 15%);

@theme-location:		'/app/themes/grillinfools-theme/';
@fonts-location:		'@{theme-location}assets/fonts/'; 
@patterns-location:		'@{theme-location}assets/img/patterns/'; 

@gf-login-logo-size:	130px;

@phone-avatar: 			75px;
@tablet-avatar: 		100px;
@desktop-avatar: 		150px;

@link-color:			@heading-color;
@link-hover-color:      darken(@heading-color,10%);
@link-visited-color:    lighten(@heading-color,20%);

@font-face {
    font-family: 'fawn_script';
    src: url('@{fonts-location}fawn-webfont.eot');
    src: url('@{fonts-location}fawn-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-location}fawn-webfont.woff2') format('woff2'),
         url('@{fonts-location}fawn-webfont.woff') format('woff'),
         url('@{fonts-location}fawn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

//text shadow mixin
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}

//opacity mixin
.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 			@opacity;
}

a {
	&:visited {
		&:not(.btn) {
			color: @link-visited-color;
		}
	}
}
.content-network-link-title {
	display: none !important;
	@media(min-width: @screen-desktop){
		display: table-cell !important;
	}
}
.content-network-widget {
	overflow:hidden;
	.content-network {
		@media(min-width: @screen-tablet){
			.content-network-sidebar,
			.content-network-button {
				display:none;
			}
			.content-network-links {
				margin-left: 75px;
			}
			.content-network-logo {
				left: -90px !important;
			}
			
		}
	}
}