// Site colors
@site-background: 		#d5d5cd;
@border-color:			#bbbbbb;
@text-color:			#4c4c4c;
@text-color-light:		#5f5f5f;
@text-color-on-red:		#c9c9c0;
@heading-color:			@gf-red;
@gf-red:				#C4203B;

a {
	&:link {
		color: @heading-color;
	}
	&:hover,
	&:active {
		color: darken(@heading-color,10%);
		text-decoration: underline;
	}
	&:visited {
		color: lighten(@heading-color,20%);
	}
}
.yarpp-related a:hover {text-decoration: underline !important;} //ugh, plugin overwriting. :(