.content-network-widget {
  width      : 100%;
  background : #fff;
  height     : 56px;
  font       : 12px Trebuchet MS, sans-serif !important;
  position   : relative;
  z-index    : 999;
  box-shadow : 2px 2px 6px #bbb;
}

.content-network {
  max-width : 1005px;
  margin    : 0 auto;
  height    : 30px;
  position  : relative;
  top       : 11px;
}

.content-network-logo {
  display    : inline-block;
  width      : 171px;
  height     : 55px;
  position   : absolute;
  left       : -180px;
  top        : -12px;
  background-image : url(tdm-cn-logo.png);
}
.content-network-logo a{
  display: block;
  width: 100%;
  height: 55px;
}
.content-network-links {
  display : inline-block;
  padding : 0 10px;
  width   : 1005px;
  height  : 30px;
}

.content-network-sidebar {
  width       : 247px;
  position    : absolute;
  top         : -10px;
  right       : -247px;
}

.content-network-button {
  width      : 130px;
  height     : 30px;
  top        : 0;
  position   : absolute;
  right      : -348px;
  top        : 5px;
  font-weight: bold;
}

.content-network-button a:link {
  line-height     : 12px;
  font-size       : 13px !important;
  text-decoration : none;
  background      : url(tdm-cn-button.png) 0 0 no-repeat;
  padding-left    : 20px;
  width           : 82px;
  height          : 14px;
  display         : block;
  position        : relative;
  z-index         : 999;
}

.content-network-button a:link,
.content-network-button a:active,
.content-network-button a:visited,
.content-network-button a:hover {
  color: #E53327 !important;
}


.content-network-button a.open {
  background-position: 0 -14px;
}

/**
 * Links
 */
.content-network-links ul {
  display : table-row;
  padding : 0;
}

.content-network-links ul li {
  display        : table-cell;
  height         : 30px;
  line-height    : 30px;
  text-transform : uppercase;
}

.content-network-links ul li a {
  text-decoration : none;
  color           : #000;
  padding         : 0 5px;
  border-left     : 1px #F0ACA9 solid;
}

.cn-block h3 a,
.cn-nav {
  font: 14px 'Nunito', Trebuchet MS, sans-serif !important;
}

.content-network-link-title {
  color         : #E53327;
  padding-right : 10px;
  font: bold 15px 'Nunito', Trebuchet MS, sans-serif !important;
}

/**
 * Widget Part
 */
.content-network-sidebar-image {
  height     : 65px;
  width      : 235px;
  background : url(tdm-cn-image.png);
  position   : relative;
  z-index    : 998;
}

.content-network-sidebar-content {
  display     : none;
  margin      : 0 6px 6px 6px;
  background  : #eee;
  padding-top : 25px;
  position    : relative;
  top         : -10px;
  border-left : 6px solid #fff;
  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  -webkit-box-shadow  : -2px 2px 3px #bbb, 2px 0 3px #bbb;
  -moz-box-shadow  : -2px 2px 3px #bbb, 2px 0 3px #bbb;
  box-shadow  : -2px 2px 3px #bbb, 2px 0 3px #bbb;
}

.content-network-sidebar-content > div > h3,
.content-network-sidebar-content > div > h3 a {
  background            : #000;
  display               : block;
  color                 : #fff;
  font-weight           : lighter;
  height                : 24px;
  line-height           : 24px;
  text-align            : center;
  -webkit-margin-before : 0;
  -webkit-margin-after  : 0;
  text-decoration       : none;
  position              : relative;
  top                   : 3px;
}

.content-network-sidebar-content > div > div {
  padding   : 10px;
}

.content-network-network-links ul {
  list-style : none;
  margin     : 0;
  padding    : 0;
  font-size: 10px !important;
}


.content-network-sidebar-content > div.content-network-video > h3 + div {
  padding : 0;
}

.view-ccn-blocks .views-field-title a{
  text-decoration: none;
  color: #1F65B4;
  font: 12px Trebuchet MS, sans-serif !important;
}

.view-ccn-blocks .views-field-field-source-post{
  text-decoration: none;
  color: #666666;
  margin: 0 0 10px 0;
  font: 10px Trebuchet MS, sans-serif !important; 
  word-wrap: break-word;
}

.video-player-hero-content-playlist{
  display: none;
}
.video-player-hero-content{
  padding: 2px 0px 0px 9px;
}
.video-player-hero-content-title {
  color : #1F65B4;
}
.video-player-hero-content-description p{
  color: #666666;  
  margin: 0px;
}


.view-most-recent .views-row{
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
}

.view-most-recent .views-field-field-upload-image{
  float: left;
  width: 60px;
}

.view-most-recent .views-field-field-upload-image img{ 
  max-width: 60px;
  max-height: 50px;
}

.view-most-recent .views-field-title{
  float: left;
  max-width: 130px;
  color: #1F65B4;
  text-decoration: none;
  margin-left: 10px;
}

.view-most-recent .views-field-title a{
  color: #1F65B4;
  text-decoration: none;
  font: 12px Trebuchet MS, sans-serif !important;
  line-height: normal;
}
.cn-mobile{
  display: none;
}


/*** CCN RIGHT  ***/

.content-network-widget-right .content-network-sidebar{
  right: 40px;
  top:0px;
  z-index: 1000;
}

.content-network-sidebar-image{
  margin-left: 6px;
}

.content-network-widget-right .content-network-button.cn-mobile{
  display: inline-block!important;
  right: -12px;
  width: auto!important;
  z-index: 1000;
}

.content-network-widget-right .cn-mobile a{
  background: none;
}
  
.content-network-widget-right .cn-mobile i {
  width: 20px;
  height: 3px;
  background: black;
  margin: 2px 0px;
  display: block;
}

.content-network-widget-right .content-network-sidebar-content.slide h3{
  text-align: center;
  margin: 0px;
  font-weight: 200;
}

.content-network-widget-right .content-network-sidebar-content.slide .view-most-recent{
  position: relative;
  min-height: 150px;

}

.content-network-widget-right .content-network-sidebar-content.slide .views-row{
  display: none; 
  position: absolute;
  top: 0px;
  width:100%;
  left: 0px;
}

.content-network-widget-right .content-network-sidebar-content.slide .view-most-recent .views-field-title a {
  color: #000;
}

.content-network-widget-right .content-network-sidebar-content.slide .views-row-1{
  display: block;
}

.content-network-widget-right .content-network-sidebar-content.slide .controls{
  position: absolute;
  top: 35%;
  width: 100%;
  min-height: 40px;
}

.content-network-widget-right .content-network-sidebar-content.slide .controls a{
  height: 33px;
  width: 14px;
  float: left;
  margin-left: 20px;
  background : url(prev.png);
}

.content-network-widget-right .content-network-sidebar-content.slide .controls a.right{
  float: right;
  margin-right: 20px;
  background : url(next.png);
}

.content-network-widget-right .content-network-sidebar-content.slide .views-field{
  float: none;
  margin: 0 auto;
  width: auto;
  text-align: center;
  margin: 10px auto;
}

.content-network-widget-mobile{
  display: none;
}

.content-network-footer{
  min-width: 1200px!important;
  width: 100%!important;
}

.content-network-footer .content-network{
  width: 100%!important;
  max-width: 1200px!important ;
  height: 55px!important ;
}


.content-network-footer .content-network-logo {
  display: inline-block;
  position: relative!important;
  left: 0px;
  top: -11px;
  vertical-align: top;
}
.content-network-footer  .content-network-links{
  vertical-align: top!important;
  width: auto!important;  
}

.content-network-footer  .content-network-sidebar{
  position: relative!important;
  top: -11px!important;
  float: none!important;
  display: inline-block;
  vertical-align: top;
  right: 0px;
  top
}

.content-network-footer  .content-network-links ul li a{
  border-left     : 1px #000 solid;
  padding: 0 12px;
}

@media all and (max-width: 700px){

  .content-network-widget,
  .content-network-widget-right{
    display: none!important;
  }
 
  .content-network-widget-mobile{
    display: block!important;
    z-index: 10000!important;
    position: relative!important;
    text-align: center!important;
    background: #fff!important;
  }
  .content-network-widget-mobile{
    position: relative!important;
    top: auto!important;
    right: auto!important;
    margin: 0 auto!important;
  }
  .cn-mobile{
    padding-top: 20px;
    padding-left: 0px;    
  }
  .cn-mobile a{
    background: transparent!important;
  }

  .cn-mobile i {
    width: 20px;
    height: 3px;
    background: black;
    margin: 2px 0px;
    display: block;
  }

  .content-network-sidebar {
    position: relative!important;
    margin: 0 auto!important;
    right: auto!important;
    top: auto!important;
  }

  .content-network-button {
    padding-left: 0px;
    width: 60px;
    height: 30px;
    top: 0px;
    position: absolute;
    right: 10px;
    display: block!important;
    font-weight: bold;
  }

  .content-network-button a{
    display: block!important;
    width: auto!important;
  }
}
