/******************************/
/*    Meta and byline stuff   */
/******************************/

.byline {
	margin-bottom: 1em;
	.meta {
		//white-space: nowrap;
		clear:both;
		float: left;
		time {
			i {
				font-weight: bold;
			}
		}
		a {
			font-weight: bold;
			.single-post & {
				color: @text-color-on-red;
			}
		}
		&.meta-author {
			position:relative;
			.single-post &,
			.featured-post & {
				@media(min-width: @screen-tablet){display:none;}     /* or @screen-sm */
			}
		}
		@media(min-width: @screen-tablet){
			float: none;
			&:after {content: " |";}
			&:last-child {
				&:after {content:"";}
			}
		}     /* or @screen-sm */

	}
}
.entry-summary {
	float: left;
}

.author-pic,
a.author-pic {
	color: white;
	a {
		color: white;
	}
	.author-pic-slice {
		display: block;
		overflow: hidden;
		float:left;
		height: 100%;
		background-position: 50% 0;
		background-size: cover;
		border-left: 1px solid @border-color;
		//border-radius: 10px;
		&:first-of-type {
			border-left: none;
			border-radius: 3px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-of-type {
			border-radius: 3px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		.avatar {
			width: auto;
			margin-left: -50%;
		}
	}
	.meta-author {
		display: none;
		@media(min-width: @screen-tablet) {
			display: block;
			width: 100%;
			padding: 5px;
			background: @gf-blue-darker;
			
			text-align: center;
			opacity: 0.8;
			position:absolute;
			bottom: 0;
			border-radius: 3px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: 2px dashed darken(@gf-brown-darker, 10%);
			font-weight: bold;
			font-size: 90%;
			&.meta-authors {
				font-size: 80%;
				font-weight: normal;
				color: @text-color-on-red;
				a {font-weight:bold;}
			}
		}
	}
	.avatar {
		width: 100%;
		height: 100%;
		border-radius: 3px;
	}
}

.mega-wrapper {
	background-color: white;
	@media(min-width: @screen-tablet){background-color: @gf-background; background-image: url('@{patterns-location}tr-gf-rose.png');}
	font-family: Georgia;
	
}
// Content wrapper
.wrap {
	transition: all 0.5s ease;
	transition: padding-top 0;
	background-color: white;
	position:relative;
	@media(min-width: @screen-tablet) {
		padding-top: 14em;
		border-left: 1px solid @border-color;
		border-right: 1px solid @border-color;
	}
	@media(min-width: @screen-desktop){padding-top: 19em;}    /* or @screen-md */
	.home &,
	.archive &,
	.search &,
	.category & {
		//.make-row();
	}
}



// Main content area
.content {
	//position: relative;
	.featured-image { 
		transition: all .75s ease-in;
		opacity:0;
		position:absolute;
		top:0;
		left:0;
		overflow: hidden;
		width: 100%;
		.container-fixed();
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% auto;
		background-position: 50% 0;
		@media (min-width: @screen-sm-min) {
		    
		  }
		  @media (min-width: @screen-md-min) {
		    
		  }
		  @media (min-width: @screen-lg-min) {
		    background-size: @container-lg auto;
		  }


		@media(min-width: @screen-tablet) {
			display:block;
			height:300px; 
			opacity:1;
		}
		
		&.featured-image-default {
			background-repeat: repeat;
			background-size: auto;
			background-color: @gf-background; 
		}
	}
	.sponsor {
		.img-responsive;
		.visible-xs-block;
		.hidden-sm;
		.hidden-md;
		.hidden-lg;
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
		text-decoration: none;
		color: @gf-background;
		img {
			border-radius: 5px;
			//.img-responsive; // make the images scale appropriately 
			//border: 1px solid @border-color;
			//padding: 2px 3px;	
			//margin:auto;
			@media (min-width: @screen-xs-min) {
			//	padding: 4px 6px;	
  			}
		}
		&:before { 
			content: "Sponsored Content";
			width: 100%;
		}
	}
}
.navbar-mobile,
.featured-image.featured-image-default {
	.featured-random-1 & {background-color: @gf-brown-darker; background-image: url('@{patterns-location}tr-food.png');}
	.featured-random-2 & {background-color: @gf-brown-dark; background-image: url('@{patterns-location}tr-green-gobbler.png');}
	.featured-random-3 & {background-color: @gf-blue-light; background-image: url('@{patterns-location}tr-light-wool.png');}
	.featured-random-4 & {background-color: @gf-blue-lighter; background-image: url('@{patterns-location}tr-white-diamond-dark.png');}
	.featured-random-5 & {background-color: @gf-blue; background-image: url('@{patterns-location}tr-wild-flowers.png');}
}

.main {
  	.sidebar-primary & { // if a parent has ".sidebar-primary"
  		
	}
}
.sidebar {
	.make-sm-column(@sidebar-sm-columns);
	padding-top: .7em;
	.sponsor {
		.hidden-xs;
		.visible-sm-block;
		.visible-md-block;
		.visible-lg-block;
		
	}
	.null-instagram-feed {
		padding: 0;
		margin: auto;
		.instagram-pics {
			padding:0;
			li {
				padding: 0;
				margin: 0;
				list-style: none;
				//width: 100%;
				margin-bottom: 1em;
				a {
					//width: 90%;
					img {
						.img-responsive();
						width: 89%;
						padding: 2.5%;
						margin: auto;
						border: 1px solid @gf-background;
						//width: 100%;
					}
				}
			}
		}
	}
	.adinjwidget {
		img {
			.img-responsive;
		}
	}
}




// --------------------------------------- //
//   Archive, Category, & Search layouts   //
// --------------------------------------- //
.home,
.archive,
.search,
.category {
	.wrap {
		.content {
			.make-row();
			.main {
				@media(min-width: @screen-tablet){padding-left: 3em;}     /* or @screen-sm */
				@media(min-width: @screen-desktop){padding-left: 5em;}    /* or @screen-md */
				.make-sm-column(8);
				position:relative;
				.page-header {
					border: none;
					.container;
					margin-bottom: 2em;
					margin-top: 0;
					margin: 0 -15px 2em;
					h1 {
						margin: 0;
					}
				}
				.hentry {
					border-top: 1px solid @gf-background;
					//border-bottom: 1px solid @gf-background;
					padding-top: 1em;
					padding-bottom: 1em;
					margin-bottom: 1em;
					.featured-image {
					
					}
					.archive-content {
						.make-row();
						.thumbnail { 
							width: 20%;
							float: left;
							border: none;
							margin-right: 2.5%;
							margin-left: 2.5%;
							.featured-image {
								display: block;
								transition: all 0;
								background: none;
								position:initial;
								opacity: 1;
								.img-responsive; // make the images scale appropriately 
								//display:none;
								//border: 1px solid @border-color;
								border-radius: 3px;
								padding: 0;
								box-shadow: 0 0 0 3px white, 0 0 0 4px @border-color;
								//padding: 2px 3px;	
								margin: auto;
								@media (min-width: @screen-xs-min) {
									box-shadow: 0 0 0 6px white, 0 0 0 7px @border-color;
						  		}
								&:hover {
									background: @gf-background;
									border-color: @gf-red;
									box-shadow: 0 0 0 3px @gf-background, 0 0 0 4px @gf-red;
									@media (min-width: @screen-xs-min) {
										box-shadow: 0 0 0 6px @gf-background, 0 0 0 7px @gf-red;
							  		}
								}
							}
						}
						.archive-wrap {
								width: 74%;

								float: left;
							header {
								.entry-title {
									margin-top: 0;
								}
							}
							.entry-summary {

							}
						}
					}
				}
				.post-nav {
					//.make-row();
				}
			}
			.sidebar {

				.make-sm-column(4);
			}

		}
	}
}

