.mega-wrapper {
	background-color: white;
	@media(min-width: @screen-tablet){background-color: @gf-background; background-image: url('@{theme-location}assets/img/gf-rose.png');}
	font-family: Georgia;
	
}
// Content wrapper
.wrap {
	transition: all 0.5s ease;
	transition: padding-top 0;
	background-color: white;
	position:relative;
	@media(min-width: @screen-tablet){
		padding-top: 14em;
		border-left: 1px solid @border-color;
		border-right: 1px solid @border-color;
	}
	@media(min-width: @screen-desktop){padding-top: 19em;}    /* or @screen-md */
	.home &,
	.archive &,
	.search &,
	.category & {
		//.make-row();
	}
}

// Main content area
.content {
	.featured-image { 
		transition: all .75s ease-in;
		opacity:0;
		position:absolute;
		top:0;
		left:0;
		overflow: hidden;
		width: 100%;
		.container-fixed();
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% auto;
		@media(min-width: @screen-tablet) {
			display:block;
			height:300px; 
			opacity:1;
		}
		&.featured-image-default {
			background-repeat: repeat;
			background-size: auto;
			background-color: @gf-background; 
			&.featured-random-1 {background-image: url('@{theme-location}assets/img/bo_play_pattern.png');}
			&.featured-random-2 {background-image: url('@{theme-location}assets/img/restaurant_icons.png');}
			&.featured-random-3 {background-image: url('@{theme-location}assets/img/stacked_circles.png');}
			&.featured-random-4 {background-image: url('@{theme-location}assets/img/agsquare.png');}
			&.featured-random-5 {background-image: url('@{theme-location}assets/img/pw_maze_white.png');}
		}
	}
	.sponsor {
		.img-responsive;
		.visible-xs-block;
		.hidden-sm;
		.hidden-md;
		.hidden-lg;
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
		text-decoration: none;
		color: @gf-background;
		img {
			.img-responsive; // make the images scale appropriately 
			border: 1px solid @border-color;
			padding: 2px 3px;	
			margin:auto;
			@media (min-width: @screen-xs-min) {
				padding: 4px 6px;	
  			}
  			
		}
		&:before { 
			content: "Sponsored Content";
			width: 100%;
		}
	}
}
.main {
  	.sidebar-primary & { // if a parent has ".sidebar-primary"
  		
	}
}
.sidebar {
	.make-sm-column(@sidebar-sm-columns);
	padding-top: .7em;
	.sponsor {
		.hidden-xs;
		.visible-sm-block;
		.visible-md-block;
		.visible-lg-block;
		
	}
	.null-instagram-feed {
		padding: 0;
		margin: auto;
		.instagram-pics {
			padding:0;
			li {
				padding: 0;
				margin: 0;
				list-style: none;
				//width: 100%;
				margin-bottom: 1em;
				a {
					//width: 90%;
					img {
						.img-responsive();
						width: 89%;
						padding: 2.5%;
						margin: auto;
						border: 1px solid @gf-background;
						//width: 100%;
					}
				}
			}
		}
	}
}




// --------------------------------------- //
//   Archive, Category, & Search layouts   //
// --------------------------------------- //
.home,
.archive,
.search,
.category {
	.wrap {
		.content {
			
			.make-row();
			//border-top: 10px solid green;
			//border-bottom: 10px solid green;
			.main {
				//border-top: 10px solid red;
				//border-bottom: 10px solid orange;
				@media(min-width: @screen-tablet){padding-left: 3em;}     /* or @screen-sm */
				@media(min-width: @screen-desktop){padding-left: 5em;}    /* or @screen-md */
				.make-sm-column(8);
				position:relative;
				.page-header {
					border: none;
					//display: none;
					//position:relative;
					//transition: all 0.5s ease;
					//width: auto;
					.container;
					//border-top: 20px solid @gf-red-dark;
					//color: @text-color-on-red;
					//background: @gf-red-med;
					margin-bottom: 2em;
					margin-top: 0;
					margin: 0 -15px 2em;
					//@media(min-width: @screen-tablet){padding: 0 5em;}     /* or @screen-sm */
					//@media(min-width: @screen-desktop){padding: 0 6.75em;}    /* or @screen-md */
					h1 {
						margin: 0;
					}
				}
				.hentry {
					border-top: 1px solid @gf-background;
					//border-bottom: 1px solid @gf-background;
					padding-top: 1em;
					padding-bottom: 1em;
					margin-bottom: 1em;
					.featured-image {
						position:initial;
						opacity: 1;
						.img-responsive; // make the images scale appropriately 
						display:none;
						border: 1px solid @border-color;
						padding: 2px 3px;	
						margin: auto;
						@media (min-width: @screen-xs-min) {
							padding: 4px 6px;	
				  		}
					}
					.archive-content {
						.make-row();
						.thumbnail { 
							width: 20%;
							float: left;
							border: none;
							margin-right: 2.5%;
							margin-left: 2.5%;
							.featured-image {
								display: block;
								transition: all 0;
								&:hover {
									background: @gf-background;
									border-color: @gf-red;
								}
							}
						}
						.archive-wrap {
								width: 74%;

								float: left;
							header {
								.entry-title {
									margin-top: 0;
								}
							}
							.entry-summary {

							}
						}
					}
				}
				.post-nav {
					//.make-row();
				}
			}
			.sidebar {
				
				//display: none;
				//padding-top: 6em;
				//border-top: 10px solid purple;
				//border-bottom: 10px solid gray;
				.make-sm-column(4);
			}

		}
	}
}

