.single {
.hentry .entry-content {
	.wp-video {
		.img-responsive; // make the images scale appropriately 
		border: 1px solid @border-color;
		padding: 2px 3px;	
		margin: auto;
		@media (min-width: @screen-xs-min) {
			padding: 4px 6px;	
  		}
  	}
	img,
	figure {
		&[class*="size-"],
		&.alignnone,
		&.aligncenter {
			.img-responsive; // make the images scale appropriately 
			border: 1px solid @border-color;
			padding: 2px 3px;	
			@media (min-width: @screen-xs-min) {
				padding: 4px 6px;	
  			}
		}
	}
}
.hentry footer { }



.hentry {
	header {
		position:relative;
		transition: all 0.5s ease;
		.container-fixed();
		margin-left: -15px;
		margin-right: -15px;
		border-top: 20px solid @gf-red-darker;
		color: @text-color-on-red;
		background: @gf-red-dark;
		background-image: url('@{patterns-location}tr-random-grey-variations.png'); 
		margin-bottom: 2em;
		
		@media(min-width: @screen-tablet){padding: 0 5em;}     /* or @screen-sm */
		@media(min-width: @screen-desktop){padding: 0 6.75em;}    /* or @screen-md */
		.author-pic {
			display:block;
			float: left;
			width: 20%;
			margin-top: 1em;
			margin-bottom: 1em;
			position: relative;
			/*
			position:absolute;
			width: 60px;
			height: 60px;
			left: 50%;
			margin-left: -30px;
			top: -40px;
			*/
			@media(min-width: @screen-tablet){
				margin-top: 0; 
				margin-bottom: 0;
				
			}
			.meta-author {
				display: none;
				@media(min-width: @screen-tablet){
					display: block;
					width: 100%;
					padding: 5px;
					background: #000000;
					background: @gf-green-darker;
					color: #ffffff;
					text-align: center;
					opacity: 0.4;
					position:absolute;
					bottom: 0;
				}
			}
			.avatar {
				width: 100%;
				height: 100%;
			}
		}
		.entry-meta-wrap {
			padding-left: 1em;
			display:block;
			width: 80%;
			float: left;
			h1 {
				font-size: 200%;
			}
			.byline {
				margin-bottom: 1em;
				.meta {
					i {
						font-weight: bold;
					}
					a {
						color: @text-color-on-red;
					}
					&.meta-author {
						
						@media(min-width: @screen-tablet){display:none;}     /* or @screen-sm */
					}
				}
			}
		}
	}
	h2 {
		font-size: 150%;
	}
	.article-body-wrap {
		.make-sm-column(12);
		.sidebar-primary & { // if a parent (like <body>) has ".sidebar-primary"
//			.make-sm-column(@main-sm-columns - @sidebar-sm-columns);
		}
		.make-sm-column(@main-sm-columns - @sidebar-sm-columns);
	}
	.entry-content, 
	.comments {
		@media(min-width: @screen-tablet){padding-left: 3em;}     /* or @screen-sm */
		@media(min-width: @screen-desktop){padding-left: 5em;}    /* or @screen-md */
	}
	.comments {
	}

}
}