.single {
	.hentry .entry-content {
		.wp-video {
			.img-responsive; // make the images scale appropriately 
			box-shadow: 0 0 0 3px white, 0 0 0 4px @border-color;	
			margin: auto;
			@media (min-width: @screen-xs-min) {
				box-shadow: 0 0 0 6px white, 0 0 0 7px @border-color;
	  		}
	  	}
		img,
		figure {
			.img-responsive; // make the images scale appropriately 
			border-radius: 3px;
			margin: 2em auto;
			box-shadow: 0 0 0 3px white, 0 0 0 4px @border-color;
			@media (min-width: @screen-xs-min) {
				box-shadow: 0 0 0 6px white, 0 0 0 7px @border-color;
  			}
  			img {
  				border: none;
  				padding: 0;
  				margin:auto;
  				box-shadow: none;
  			}
  			&.wp-smiley {
  				display: initial;
  				border: none;
  				padding: 0;
  				box-shadow: none;
  			}
  			&.wp-caption {
  				border: none;
  			}
		}
		

	}

	.hentry footer { }

	.hentry {
		header {
			position:relative;
			transition: all 0.5s ease;
			.container-fixed();
			margin-left: -15px;
			margin-right: -15px;
			border-top: 20px solid @gf-red-darker;
			color: @text-color-on-red;
			background: @gf-red-dark;
			background-image: url('@{patterns-location}tr-random-grey-variations.png'); 
			margin-bottom: 2em;
			min-height: 150px;
			@media(min-width: @screen-tablet){min-height: 195px;}
			//@media(min-width: @screen-tablet){padding: 0 5em;}
			//@media(min-width: @screen-desktop){padding: 0 6.75em;}
			.author-pic {
				z-index: 1;
				position: absolute;
				top: 0;
				left: 100px;
				left: 8%;
				width: 125px;
				height: 125px;
				@media(min-width: @screen-desktop){width: 175px; height: 175px;}
				}
			.entry-title,
			.byline,
			.entry-summary {
				float: left;
				margin: 0 8%;
				padding-left: 145px;
				@media(min-width: @screen-desktop){padding-left: 195px;}
			} 
			.entry-title {
				font-size: 175%;
				padding-top: .5em;
				@media(min-width: @screen-desktop){font-size: 200%;}
			}
		}
		h2 {
			font-size: 150%;
		}
		.article-body-wrap {
			.make-sm-column(12);
			.sidebar-primary & { // if a parent (like <body>) has ".sidebar-primary"
			}
			.make-sm-column(@main-sm-columns - @sidebar-sm-columns);
		}
		.entry-content { 
			//@media(min-width: @screen-tablet){padding-left: 3em;}     /* or @screen-sm */
			//@media(min-width: @screen-desktop){padding-left: 5em;}    /* or @screen-md */
		}
		.comments {
			//@media(min-width: @screen-tablet){margin-left: 3em;}     /* or @screen-sm */
			//@media(min-width: @screen-desktop){margin-left: 5em;}    /* or @screen-md */
		}

		/*******************************/
		/*     Fanciest Author Box     */  
		/*******************************/

		.ts-fab-wrapper {
			.ts-fab-list {
				li a {
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
				}
			}
			.ts-fab-tab {
				border-radius: 3px;
				border-top-left-radius: 0;
				.ts-fab-avatar {
					margin-bottom: 2em;
					.avatar {
					
					}
				}
			}
			img {
				box-shadow: none;
			}
			//display: none;
		}


	}
}
// YARPP related stuff
.yarpp-related {
	border: 1px solid @border-color;
	border-radius: 3px;
	.yarpp-title {margin: 1em !important;}
	.yarpp-posts {
		.make-row();
		.container-fixed();
		.yarpp-post {
			.clearfix;
			border-top: 1px solid @border-color;
			display: inline-block;
			width: 100%;
			padding-top: 1em;
			padding-bottom: 1em;
			.make-sm-column(3);
			@media(min-width: @screen-tablet){
				text-align: center;
				border: none;
			}
			.yarpp-post-thumbnail {
					width: 5em;
					float: left;
					margin-right: 1em;
					box-shadow: 0 0 0 3px #ffffff, 0 0 0 4px #bbbbbb;
					border-radius: 3px;
					@media(min-width: @screen-tablet){
						width: 7em;
						margin: auto;
						float: none;
					}
					@media(min-width: @screen-tablet){
						width: 9em;
					}
				.featured-image {
					//strip out defaults from other places
					margin: 0;
					padding: 0;
					position: relative;
					box-shadow: none;
					opacity: 1;
				}
				.yarpp-default-image {
					
				}
			}
			.yarpp-post-title {
				padding-top: .5em;
			}
		}
	}
	
	//a:hover {text-decoration: underline !important;} //ugh, plugin overwriting. :(

}

// Stupid OOYALA video player stuff
.ooyala-container {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
	iframe {
		position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}


